.Reload {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.ReLoadButton {
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: none;
    border-radius: 5rem;
    color: rgb(156, 156, 156);
    position: relative;
    top: 21px;
    padding: 0;
}

.ReLoadButton:hover {
    color: rgb(71, 71, 71);
}

.ReLoadText {
    display: inline;
    font-weight: 500;
    color: rgb(156, 156, 156);
    position: relative;
    top: 15px;
    user-select: none;
    cursor: pointer;
    margin-left: 5px;
}