.LoadMore {
    width: 100%;
    height: 100px;
    text-align: center;
    margin: 0;
}

.LoadMoreText {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(71, 71, 71);
    margin: 5px 0;
}

.LoadMoreButton {
    min-width: 30px;
    min-height: 30px;
    background-color: transparent;
    border: none;
    border-radius: 5rem;
    color: rgb(71, 71, 71);
    outline: none;
    cursor: pointer;
}

.LoadMoreButton:hover {
    color: black;
}