.MyWorkouts {
    padding-top: 30px;
    text-align: center;
}

.Header {
    text-align: center;
    color: rgb(73, 73, 73);
}

.EmptyImage {
    position: relative;
    width: 80%;
    max-width: 600px;
    margin-top: 30px;
    top: 30px;
    opacity: 0;
    animation: PhaseIn 0.3s ease forwards;
    animation-delay: 0.2s;
}

.EmptySubext {
    color: rgb(73, 73, 73);
    font-weight: 500;
}

@keyframes PhaseIn {
    from {
        opacity: 0;
        top: 30;
    }
    to {
        opacity: 1;
        top: 0;
    }
}

.EmptyText {
    color: rgb(73, 73, 73);
    margin-top: 40px;
}

@media (max-width: 768px) {
    .MyWorkouts {
        padding-top: 15px;
    }
    .EmptyImage {
        margin-top: 0px;
    }
}