
/* Because css in js doesn't work with React Router Links */

.All:hover {
    color: #04a8af;
}

.Powerlifting:hover {
    color: #af0404;
}

.Bodybuilding:hover {
    color: #0460af;
}

.Weightlifting:hover {
    color: #af8004;
}

.Endurance:hover {
    color: #51af04;
}

.Crossfit:hover {
    color: #04af78;
}

.signinButton:hover {
    color: green;
}

.logoutButton:hover {
    color: red;
}

@media (min-width: 769px) {
    .createNavButton {
        display: none;
    }
    .myWorkoutsNavButton {
        display: none;
    }
    .myFavoritesNavButton {
        display: none;
    }

    /* In case the user opens the mobile sidedrawer AND increases the 
    view port to see the desktop navbar in the same visit, I'm sending 
    the buttons added specifically for the sidedrawer into outer space */

    .MoreNavButtonsBox {
        position: absolute;
        left: -500px;
    }
}

.createNavButton {
    font-size: 1.4rem;
}

.myWorkoutsNavButton {
    font-size: 1.4rem;
}

.myFavoritesNavButton {
    font-size: 1.4rem;
}

.signinButton {
    font-size: 1.4rem;
}

.logoutButton {
    font-size: 1.4rem;
}
