.Navbar {
    min-height: 60px;
    width: 100%;
    background-color: white;
    text-align: center;
    overflow: auto;
    position: fixed;
    top: 0;
    z-index: 5;
    user-select: none;
}

.Logo {
    color: rgb(71, 71, 71);
    display: inline;
    margin: 0;
    position: absolute;
    left: 10%;
    top: 12px;
    outline: 0;
}

.Create {
    background-color: transparent;
    border-style: none;
    font-size: 16px;
    font-weight: bold;
    color: rgb(71, 71, 71);
    position: absolute;
    right: 10%;
    top: 20px;
    outline: 0;
}

.Options {
    margin: 18px 0;
}

.Burger {
    display: none;
    position: absolute;
    top: 15px;
    right: 30px;
    cursor: pointer;
}

.Burger div {
    width: 30px;
    height: 4px;
    margin: 5px 0;
    background-color: rgb(71, 71, 71);
    border-radius: 0.5rem;
}

.Navbar ul {
    list-style: none;
    display: inline;
    padding-inline-start: 0;
}

.Navbar li {
    display: inline-block;
    margin: 0 calc(8px + 0.5%);
}

.NavButton {
    border-style: none;
    color: rgb(71, 71, 71);
    outline: 0;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
}

.ActiveLink {
    color: red;
}

@media (max-width: 1200px) {
    .Options {
        margin: 80px 0 20px;
        position: sticky;
    }
    .Logo {
        left: 50%;
        transform: translate(-50%);
    }
}

@media (max-width: 768px) {
    .Create {display: none;}
    .Burger {
        display: inline-block;
    }

    .Options {
        position: fixed;
        margin-top: 60px;
        right: -60%;
        height: 92vh;
        width: 60%;
        background-color: white;
        /* transform: translate(100%); */
        transition: transform 0.2s ease-in-out;
    }
    .Options ul {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 75%;
        position: absolute;
        right: 0;
        top: 30px;
    }
    .NavButton {
        border-style: none;
        background-color: transparent;
        text-align: left;
        height: 20px;
        outline: 0;
        font-size: 18px;
    }
    .Options li {
        margin: 20px 0;
    }
    .ActiveNav {
        transform: translate(0%);
    }
}