.Create {
    background-color: white;
    padding: 25px 5% 70px;
    margin: auto;
    margin-top: 0;
    box-sizing: border-box;
    width: 95%;
    max-width: 600px;
    border-radius: .5rem;
    position: relative;
    animation: PhaseIn 0.6s ease forwards;
}

@keyframes PhaseIn {
  from {
    top: 15px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

.MainHeaderBox {
  padding-top: 70px;
}

.MainHeader {
  text-align: center;
  color: rgb(71, 71, 71);
  margin-top: 0;
  margin-bottom: 40px;
}

.InputBox {
    margin: 15px 0;
}

.InputLabel {
  display: block;
  margin: 5px;
  font-size: 1.6rem;
  width: 100%;
}

.TitleInput {
  width: 100%;
  box-sizing: border-box;
}

.SelectPreview {
  margin-bottom: 25px;
  text-align: center;
  color: rgb(71, 71, 71);
}

.SelectPreviewInput {
  border-bottom: 3px solid;
  border-radius: .2rem;
  color: rgb(61, 61, 61);
}

.SelectBox {
  margin: 70px 0;
}

.SelectInput option {
  border-bottom: 1px solid black;
}

.NewExerciseBox {
  background: transparent; 
  padding: 0px 2rem 15px;
  border-radius: .5rem;
}

.AddExerciseButton {
  min-width: 52px;
  min-height: 52px;
  box-sizing: border-box;
  position: absolute;
  right: 20px;
  bottom: 16px;
  background-color: rgb(71, 71, 71);
  color: white;
  border: 2px solid;
  border-radius: 4rem;
  outline: none;
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.AddExerciseButton:active {
  color: rgb(71, 71, 71);
  background-color: transparent;
}

.PreviewCardBox {
  margin: auto;
  margin-top: 50px;
  width: 95%;
  max-width: 500px;
  position: relative;
  top: 0;
  opacity: 1;
  transition: 0.2s ease-out;
}

.PreviewCardTitle {
  text-align: center;
  color: rgb(73, 73, 73);
}

.DeleteModalBox {
  padding: 15px 5%;
  text-align: center;
}

.DeleteModalOptionBox {
  margin: auto;
  margin-bottom: 8px;
  margin-top: 30px;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  max-width: 300px;
}

.DeleteModalOptionButton {
  width: 40%;
  max-width: 100px;
  height: 32px;

  font-size: 1.1rem;
  font-weight: 700; 
  
  background-color: transparent;
  border: 2px solid rgb(71, 71, 71);
  color: rgb(71, 71, 71);
  border-radius: .5rem;

  outline: none;
  cursor: pointer;
}

.PostWorkoutButton {
  width: 180px;
  height: 40px;
  margin-left: 50%;
  transform: translate(-50%);
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: transparent;
  border: 2px solid;
  border-radius: .5rem;
  font-size: 1.3rem;
  color: rgb(71, 71, 71);
  background-color: transparent;
  outline: none;
  user-select: none;
  position: relative;
  bottom: 0;
  opacity: 1;
  transition: 0.2s ease;
}

.WorkoutTitleErrorModalBox {
  padding: 0 80px 0;
}

.PostWorkoutButton:active {
  transition: 0.01s ease-in;
}

@media (max-width: 768px) {
  .TwoMoreModalText {
    font-size: 0.8rem;
  }
  .MainHeaderBox {
    padding-top: 40px;
  }
}

@media (min-width: 769px) {
  .Create {
    padding-top: 25px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 330px) {
  .SelectPreview {
    font-size: 1.5rem;
  }
}

@media (max-width: 370px) {
  .MainHeader {
    font-size: 1.7rem;
  }
}

@media (max-width: 640px) {
  .AuthModalOptionBox {
    flex-direction: column;
    min-width: 150px;
    max-width: 50%;
  }
}

.AuthModalOptionButton {
  min-width: 40%;
  height: 32px;

  font-size: 1.1rem;
  font-weight: 700; 
  
  background-color: transparent;
  border: 2px solid rgb(71, 71, 71);
  color: rgb(71, 71, 71);
  border-radius: .5rem;

  outline: none;
  cursor: pointer;
}

.AuthModalBox {
  padding: 15px 5%;
  text-align: center;
  position: relative;
}

.AuthModalOptionBox {
  margin: auto;
  margin-bottom: 8px;
  margin-top: 30px;
  width: 80%;
  max-width: 400px;
  display: flex;
  justify-content: space-evenly;
}