.SideDrawer {
    width: 80vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    z-index: 4;
    padding-top: 80px;

}

.NavList {
    list-style: none;
    padding-inline-start: 20%;
}

.NavList li {
    margin: 3vh 0;
    position: relative;
    opacity: 0;
    /* left: 10px; */
    transition: .3s ease-in-out;
}
.NavList li a {
    text-decoration: none;
    color: inherit;
}

.SideDrawer hr {
    width: 60%;
    border: none;
    border-top: 1px solid rgb(180, 180, 180);
}

@keyframes SlideIn {
    from {
        opacity: 0;
        left: 10px;
    }
    to {
        opacity: 1;
        left: 0px;
    }
}