.InspectBox {
    min-height: 300px;
    padding: 30px 0 80px;
    margin: 0;
    background-color: rgb(73, 73, 73);
    display: flex;
    justify-content: center;
    animation: slideDown .2s ease forwards;
}

@keyframes slideDown{
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

.CardBox {
    display: flex;
    justify-content: center;
    max-width: 1500px;
    width: 100%;
    padding: 0;
    margin: 0;
    animation: slideDown 0.4s ease forwards;
    animation-delay: 0.2s;
    transform: translateY(-100%);
    opacity: 0;
}

.CloseButton {
    position: absolute;
    right: 20px;
    top: 20px;

    min-width: 40px;
    min-height: 40px;

    background-color: transparent;
    border: none;

    color: rgb(187, 187, 187);
    z-index: 3;

    outline: none;
    cursor: pointer;
}

.CloseButton:hover {
    color: white;
}



.CopyToClipboardBox {
    position: absolute;
    bottom: 5px;
    width: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 12px;
}

.ShareText {
    color: #eee;
    font-weight: 600;
    user-select: none;
    cursor: inherit;
}

.CopyIcon {
    height: 25px;
    color: rgb(214, 214, 214);
    cursor: pointer;
}

.CopyIcon:hover {
    color: white;
}

@media (max-width: 768px) {
    .InspectBox {
        padding-top: 80px;
    }
}